

img {
  border-radius: 50%;
  width: 35%;
  height: auto;
  float: left;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.jumbotron h1 {
  font-size: 100px;
  text-align: center;
}

.jumbotron h2 {
  text-align: center;
}

.well-first {
  margin-top: 50px;
}

.intro-projects {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 40px;
}

.project {
  text-align: center;
  padding: 50px;
  background-color: #f9fbed;
}

.footer {
  margin-top: 100px;
}

.col-md-4 {
  margin-left: auto;
  margin-bottom: 30px;
}

a {
  color: #d88f6f;
}
